name: Testing
on: [push, pull_request]

jobs:
  test:
    name: Build and Test Nimble-Snapshots
    runs-on: macOS-15
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      
      - name: Setup Xcode version
        uses: maxim-lobanov/setup-xcode@v1.6.0
        with:
          xcode-version: 26.1.1

      - name: Set up Ruby 3.3.0
        uses: ruby/setup-ruby@v1.245.0
        with:
          ruby-version: 3.3.0
          bundler-cache: true

      - name: "Create output dir"
        run: mkdir output
      
      - name: Run tests in Swift 5.X
        run: set -o pipefail && xcodebuild -workspace 'Bootstrap/Bootstrap.xcworkspace' -sdk 'iphonesimulator' -scheme 'Bootstrap' -destination 'name=iPhone SE (3rd generation)' SWIFT_VERSION=5.0 build test | tee output/xcodebuild_swift5.0.log
      
      - name: Swiftlint
        if: always()      
        run: |
            swiftlint lint --no-cache --reporter junit | tee result.xml
      
      - name: Store Swiftlint artifacts
        if: always()
        uses: actions/upload-artifact@v6
        with:
          name: Swiftlint
          path: |
            result.xml

      - name: Store output artifacts
        if: always()
        uses: actions/upload-artifact@v6
        with:
          name: Output
          path: |
            output

      - name: Store FailureDiffs artifacts
        if: failure()
        uses: actions/upload-artifact@v6
        with:
          name: FailureDiffs
          path: |
            Bootstrap/BootstrapTests/FailureDiffs/        

      - name: Danger action
        uses: MeilCli/danger-action@v6
        if: github.event_name == 'pull_request'
        with:
          plugins_file: 'Gemfile'
          install_path: 'vendor/bundle'
          danger_file: 'Dangerfile'
          danger_id: 'danger-pr'
        env:
          DANGER_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}    
